#tools h3 {
  font: var(--heading-md-desk);
  width: 600px;
  margin-top: 110px;
}

@media (max-width: 1140px) {
  #tools {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    overflow: hidden;
  }

  #tools h3 {
    margin: 40px 16px 24px 16px;
    font: var(--heading-md-mob);
    max-width: 328px;
    width: 100%;
  }
}